# Ballerina build artifacts
**/target/
**/Dependencies.toml
**/Ballerina.lock
*.balx

# Compiled binaries
*.jar
*.war

# Gradle
.gradle/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env